################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FestivalMatcher/v17/.suo
/.vs/FestivalMatcher/v17
/.vs/FestivalMatcher/FileContentIndex
/.vs/FestivalMatcher/config
/FestivalMatcherAPI/bin
/FestivalMatcherAPI/obj
/.vs/FestivalMatcher/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation
/.vs
/FestivalMatcherAPI/.config
